# misc
.DS_Store
node_modules

# Frontend Services | Copy of PACKAGES for DOCKER
frontendServices/node_modules/*
frontendServices/package-lock.json

# Try Example - Don't Track New Files
TryExample/*
!TryExample/example.docker-compose.yaml
!nginx.env
!nginx.vars.env
!README.md

# Traefik Certs
traefik-proxy/certs/*
!traefik-proxy/certs/ottoinfo.local.crt
!traefik-proxy/certs/ottoinfo.local.key

# Docs - Not Ready
docs/Backend.md
docs/StartUp.md

# Backend Services - Not Ready
backendServices/

# additionalServices/dockhand
frontendServices/portfolioUI/data/*
traefik-proxy/config/dynamicBak

# Docker Secrets
secrets/*


