# Usage
#   Start:          docker compose up
#   Stop:           docker compose down
#   Destroy:        docker compose down -v

include:
  # APPS
  - path: ./frontendServices/docker-compose.yaml
  # - backendServices/docker-compose.yaml
  # # NETWORK
  - path: ./traefik-proxy/docker-compose.yaml # Reverse Proxy
  # # ADDITIONAL
  - path: ./additionalServices/dockhand/docker-compose.yaml
  - path: ./additionalServices/it-tools/docker-compose.yaml

# Create/Setup Networks
networks:
  # If no other networks are defined on the service, it will be in "default" network by default
  traefik:
    name: ${TRAEFIK_NETWORK_NAME}
    driver: ${TRAEFIK_NETWORK_DRIVER}
    ipam:
      config:
        - subnet: ${TRAEFIK_NETWORK_SUBNET}
  services:
    name: ${SERVICES_NETWORK_NAME}
    driver: ${SERVICES_NETWORK_DRIVER}
    ipam:
      config:
        - subnet: ${SERVICES_NETWORK_SUBNET}

# Secrets for Production
secrets:
  cloudflare_dns_api_token:
    file: ./secrets/cloudflare_dns_api_token.txt
  cloudflare_dns_username:
    file: ./secrets/cloudflare_dns_username.txt
  db_password:
    file: ./secrets/db_password.txt
  db_username:
    file: ./secrets/db_username.txt
  google_api:
    file: ./secrets/google_api.txt
  sentry_auth_token:
    file: ./secrets/sentry_auth_token.txt
  traefik_dashboard_credentials:
    file: ./secrets/traefik_dashboard_credentials.txt
