http:
  routers:
    traefik:
      entryPoints:
        - https
      rule: 'Host(`traefik.{{ env "SERVER_URL" }}`)'
      middlewares:
        - super-secured
      tls:
        domains:
        - main: '{{ env "SERVER_URL" }}'
          sans:
          - '*.{{ env "SERVER_URL" }}'
      service: traefikService

  services:
    traefikService:
      loadBalancer:
        servers:
          - url: '{{ env "TRAEFIK_SERVICE_URL" }}'
